html {
    font-family: Helvetica, sans-serif;
    color: #8c8c8c;
    text-align: center;
}

body {
    background-color: #e3f3fb;
}

h1 {
    color: #4070f4;
    justify-content: center;
    margin-top: 200px;
}

h2 {
    color: #4070f4;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: blue;
}

a:visited {
    color: purple;
}