html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #e3f3fb;
}

#input-submit {
    margin-top: 20px;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

input[type="submit"] {
    background-color: lightgray;
    color: black;
}