<!doctype html>
<html lang = "en">

<head>
	<meta charset = "utf-8" />
	<title>Thank you!</title>
	<link rel="stylesheet" href="/confirm.css">
</head>

<body>
	<h1 id="title-h1"> Your answers have been recorded. Thanks! </h1>
	<br class="index">
	<hr class="">
	<a class="home-route" href="/">HOME</a>

</body>

</html>